@tailwind base;
@tailwind components;
@tailwind utilities;

.logoG{
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
}

.logoH{
    height: 50px;
    max-height: 50px;
}

.iconimg{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px;
    border-color: black;
}
